@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
/* reset styles */
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-bottom: 1px dotted #ccc;
}

img {
  max-width: 100%;
}