.card {
  display: block;
  padding: $base-padding;
  border: $border-width solid $primary;
  box-shadow: $box-shadow;

  .card .card-title {
  }
  
  .card .card-body {
  
  }
  
  .card .card-body a {}
}

